body {
    
    width: 100%;
    
    display: flex;
    & > header {
        transition-duration: 0.5s;
        position: fixed;
        top:0;
        z-index: 100;
        height: 100px;
        width: 100%;
        display:flex;
        justify-content: center;
        align-items: center;
        background: #fff;
        transition-duration: 0.5s;
        & > nav {
            width: 60%;
             > ul {
                margin: 0;
                display: flex;
                > li {
                    list-style: none;
                    margin-right: 40px;
                    > a {
                        text-decoration: none;
                        color: #222;
                        font-weight: bold;
                    }
                }
             }
        }
    }
}

button.disabled {
    background: none;
    border : solid 0.5px rgba(36,36,36, 0.8);
}

button.disabled:hover {
    background: rgba(36,36,36,0.2);
}

button {
    width: 290px;
    height: 40px;
    border:none;
    text-transform: uppercase;
    color: #333;
    background: linear-gradient(150deg, #FFE45C 0%, #ffc900 100%);
    font-size: 0.8em;
    border-radius: 20px;
}
button:hover {
    background: linear-gradient(150deg, #ffe978 0%, #fbd033 100%);
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.5);
    cursor: pointer;
}

.jss4 .jss6 {
    fill: hsla(0, 0%, 14%, 1);
}
.jss12 {
    width: auto;
    height: 24px;
}

.full-banner {
    width: 100%;
    height: 100vh;
    background: url("../images/imagesc6bank/hero-bg-xs.webp") no-repeat;
    background-size: cover;
    background-position: center center;
    .destak {
        width: 40%;
        height:60vh;
        position: absolute;
        bottom: 0;
        left: 15%;
        > h1 {
            font-size: 4em;
            line-height: 1em;
            font-weight: 300;
            margin-bottom: 5%;
            margin-top: 2%;
        }
        h2, h3 {
            margin: 0;
        }
        h2{
            width: 80%;
            font-weight: 300;
            margin-bottom: 5%;
        }
        h3 {
            width: 90%;
            background: rgba(36,36,36,0.35);
            color:  #fff;
            font-weight: normal;
            font-size: 0.8em;
            line-height: 3em;
            border-radius: 25px;
            padding: 0 2%;
            span {
                
                width: fit-content;
                display: inline-block;
                background: #006d8f;
                padding: 0 3%;
                border-radius: 25px;
                line-height: 1.6em;
            }
        }
    }
}


@media (min-width:992px){
    section.full-banner {
        background: url("../images/imagesc6bank/hero-bg.webp") no-repeat;
        background-size: cover;
    }
}
